@import 'styles/breakpoints.scss';

.my-name-container {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-medium);
}

.my-name {
  text-transform: uppercase;
  // font-variant: small-caps;
  color: var(--primary-text-color-active);
  // font-size: 1.6em;
  // padding-bottom: 0.2em; // I assume it's because of the font I chose, but not sure
}
