@import 'styles/placeholders.scss';
@import 'styles/breakpoints.scss';

.modal-wrapper {
  // center horizontally:
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 85%;
  max-width: 500px;
  margin: var(--padding-medium-2) 0;
  outline: none;

  @include for-tablet-landscape-up {
    margin: var(--padding-large-2) 0;
  }

  .modal {
    background-color: var(--background-color);
    box-shadow: 5px 5px 0px 0px #020202a6;

    .modal-header {
      display: flex;
      background-color: var(--primary-color);
      color: var(--primary-text-color);

      .modal-title {
        // TODO: use <h1>
        font-family: 'MontSerrat', sans-serif;
        font-size: 1.3em;
        padding: var(--padding-medium);
        padding-left: var(--padding-large-2);

        @include for-tablet-landscape-up {
          padding-left: var(--padding-medium-2);
        }
      }

      .close-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 var(--padding-medium-2);
        margin-left: auto;
        cursor: pointer;

        @include for-tablet-landscape-up {
          padding: 0 var(--padding-large-2);
        }
      }
    }

    .modal-content {
      padding: var(--padding-large-2);
    }
  }
}

.overlay {
  @extend %fullscreen;
  z-index: 2; // over header, footer, etc.
  overflow-y: auto;

  // need to use :before or :after to make opacity work correctly
  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
  }
}
