.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-areas: 'header main';
}

.overlay {
  grid-column-start: header;
  grid-column-end: main;
  grid-row: 1;
}

.header {
  grid-area: header;
  z-index: 1;
}

.main {
  grid-area: main;
}

// .footer {
//   grid-area: footer;
//   z-index: 1;
// }
