@import 'styles/breakpoints.scss';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 3.125em 1fr;
  grid-template-areas: 'header main';

  @include for-tablet-landscape-up {
    grid-template-columns: 1fr;
    grid-template-rows: 5.5em 1fr;
    grid-template-areas:
      'header'
      'main';
  }
}

.overlay {
  grid-column-start: header;
  grid-column-end: main;
  grid-row: 1;

  @include for-tablet-landscape-up {
    grid-row-start: header;
    grid-row-end: main;
    grid-column: 1;
  }
}

.header {
  grid-area: header;
  z-index: 1;
}

.main {
  overflow: hidden;
  grid-area: main;
}

// .footer {
//   grid-area: footer;
//   z-index: 1;
// }
