:root {
  --primary-color: #00000086;
  --primary-dark-color: #000000;
  --primary-light-color: #484848;
  --primary-text-color: #ffffff;
  --primary-text-color-hover: #a5a5a5;
  --primary-text-color-active: #a5a5a5;

  --secondary-color: #00acc1;
  --secondary-dark-color: #007c91;
  --secondary-light-color: #5ddef4;
  --secondary-text-color: #000000;
}
