:root {
  --background-color: #252627;

  --primary-color: #100b0b9c;
  --primary-dark-color: #000000;
  --primary-light-color: #484848;
  --primary-text-color: #a5a5a5;
  --primary-text-color-hover: #ffffff;
  --primary-text-color-active: #ffffff;

  --secondary-color: #00acc1;
  --secondary-dark-color: #007c91;
  --secondary-light-color: #5ddef4;
  --secondary-text-color: #000000;
}
