// keyframes issue: https://github.com/css-modules/css-modules/issues/141#issuecomment-243011699

:global {
  .hvr-icon-push {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    .hvr-icon {
      transform: translateZ(0);
      transition: transform 0.3s ease-out;
      &:hover .hvr-icon {
        transform: scale(0.9);
      }
    }
  }
}
