.navLink {
  display: block;
  text-align: center;
  padding: var(--padding-medium-2) 0;

  font-size: 1.2em;
  color: var(--primary-text-color);

  &:hover {
    color: var(--primary-text-color-hover);
  }
}

.navLink--active {
  color: var(--primary-text-color-active);
}
