@import 'styles/breakpoints.scss';

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: var(--padding-medium) 0;

  font-family: 'PT Sans Narrow', sans-serif;
  color: var(--primary-text-color);

  @include for-tablet-landscape-up {
    padding: 0 var(--padding-medium);
  }

  &:hover {
    color: var(--primary-text-color-hover);
  }
}

.nav-link--active {
  color: var(--primary-text-color-active);
}

.nav-link-caption {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 0.7em;
  display: none;
  margin-top: -1px;

  @include for-tablet-landscape-up {
    display: inline;
  }
}

:global(.hvr-icon-push) {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
:global(.hvr-icon-push) :global(.hvr-icon) {
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
}
:global(.hvr-icon-push):hover :global(.hvr-icon),
:global(.hvr-icon-push).nav-link--active :global(.hvr-icon) {
  transform: scale(0.8);
}
