@import 'styles/breakpoints.scss';
@import 'styles/effects.scss';

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: var(--padding-medium) 0;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.7em;
  color: var(--primary-text-color);

  @include for-tablet-landscape-up {
    padding: 0 var(--padding-medium-2);
  }

  &:hover {
    color: var(--primary-text-color-hover);
  }
}

.nav-link--active {
  color: var(--primary-text-color-active);

  &:global(.hvr-icon-push) :global(.hvr-icon) {
    transform: scale(0.8);
  }
}

.nav-link-caption {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 0.7em;
  display: none;
  margin-top: var(--padding-small);

  @include for-tablet-landscape-up {
    display: inline;
  }
}
