// global keyframes issue: https://github.com/css-modules/css-modules/issues/141

$transitionClassName: 'slide-transition';
$duration: 1000;

:global {
  .#{$transitionClassName}-exit-active {
    :local {
      animation: slideOut #{$duration}ms both ease;
    }
  }
  .#{$transitionClassName}-enter-active {
    :local {
      animation: slideIn #{$duration}ms both ease;
    }
  }
}

@keyframes slideOut {
  0% {
  }
  25% {
    opacity: 0.5;
    transform: translateZ(-500px);
  }
  75%,
  100% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes slideIn {
  // hacky hotfix, don't translateZ initially so the GoogleMap knows its final size
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  1%,
  25% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}
