@import 'styles/breakpoints.scss';

.social-link {
  display: block;
  height: 100%;

  padding: var(--padding-medium) 0;
  text-align: center;

  @include for-tablet-landscape-up {
    padding: 0 var(--padding-medium);
  }

  font-size: 1.1em;
  color: inherit;

  &:hover {
    color: var(--primary-text-color-hover);
  }
}

.social-link svg {
  // TODO: align social links with NavItem svgs
  height: 100%;
}
