@import 'styles/placeholders.scss';
@import 'styles/breakpoints.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: all;
  overflow-y: auto;

  @include for-tablet-landscape-up {
    flex-direction: row;
    pointer-events: none;
  }

  .info-section {
    flex: 1 0 auto;
    @extend %flexCentered;
    flex-direction: column;
    text-align: center;
    user-select: none;
    margin: calc(2 * var(--padding-large)) 0;

    @include for-tablet-landscape-up {
      margin: 0 calc(2 * var(--padding-large));
    }

    .heading {
      pointer-events: all;
      margin-bottom: var(--padding-small-2);

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6em;
        color: #cacaca;
      }
    }

    .content {
      pointer-events: all;

      p {
        font-size: 1.1em;
        font-family: 'Lato', sans-serif;
        line-height: 1.45em;
        color: #8a8a8a;
      }

      a {
        display: inline-block;
        position: relative;
        color: #9a9a9a;
        font-weight: 700;
      }

      // TODO: IF USED IN MORE PLACES - EXPORT TO EFFECTS.SCSS
      // Fix bug :/
      .fancy {
        a:after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          height: 1em;
          width: 100%;
          border-bottom: 1px solid;
          margin-top: 10px;
          opacity: 0;
          transition: opacity 0.35s, transform 0.35s;
          transform: scale(0, 1);
        }

        a:hover:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .social {
      pointer-events: all;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      margin-top: var(--padding-large);
    }
  }

  .map-section {
    flex: 0 0 70%;
    pointer-events: all;
    margin: 0 var(--padding-medium);
    animation: fadeIn 2s ease-out;

    @include for-tablet-landscape-up {
      flex: 0 1 50%;
      margin: var(--padding-medium) 0;
    }

    @keyframes fadeIn {
      0%,
      50% {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
