@import 'styles/placeholders.scss';
@import 'styles/breakpoints.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }

  .info-section {
    flex: 1 0 auto;
    @extend %flexCentered;
    flex-direction: column;
    text-align: center;
    user-select: none;
    margin: var(--padding-large);

    @include for-tablet-landscape-up {
      min-width: 50%;
    }

    .heading {
      pointer-events: all;
      margin-bottom: var(--padding-small-2);

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6em;
        color: #cacaca;
      }
    }

    p,
    a {
      font-size: 1.1em;
      font-family: 'Lato', sans-serif;
      color: #8a8a8a;
    }

    .content {
      pointer-events: all;
    }

    .social {
      pointer-events: all;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      margin-top: var(--padding-large);
    }
  }

  .map-section {
    flex: 1 0 0;
    min-height: 50%;
    pointer-events: all;
    margin-bottom: var(--padding-medium);
    animation: fadeIn 2s ease-out;

    @include for-tablet-landscape-up {
      min-width: 50%;
    }

    @keyframes fadeIn {
      0%,
      50% {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
