@import 'styles/breakpoints.scss';

.nav-items {
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }

  list-style: none;
  font-size: 1.8em;
}
