@import 'styles/placeholders.scss';

.footer {
  padding: var(--padding-medium);
  @extend %flexSpaced;

  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-size: var(--font-size-small);
}
