@import 'styles/placeholders.scss';

.banner {
  @extend %centered;
  color: var(--primary-text-color-active);
  user-select: none;
}

.banner h1 {
  font-family: 'Montserrat', sans-serif;
  color: #cacaca;
  font-size: 3.625em;
  font-weight: 700;
  letter-spacing: -2px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  display: inline-block;
  pointer-events: all;
}

.banner h2 {
  // color: #8d8d8d;
  margin-top: 9px;
  font-size: 1.4em;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
  display: inline-block;
  pointer-events: all;

  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 4s infinite;
}

@keyframes shine {
  0%,
  50% {
    mask-position: 150%;
  }
  100% {
    mask-position: -50%;
  }
}
