@import 'styles/placeholders.scss';
@import 'styles/breakpoints.scss';

.banner {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  user-select: none;

  @include for-tablet-portrait-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
    margin-left: -2px;
    margin-bottom: 0;
    display: inline-block;
    pointer-events: auto;

    @include for-tablet-portrait-up {
      font-size: 4em;
      letter-spacing: 2px;
      white-space: nowrap;
    }

    @include for-tablet-landscape-up {
      font-size: 5em;
    }
  }

  h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.05em;
    color: #8a8a8a;
    pointer-events: auto;

    @include for-tablet-portrait-up {
      font-size: 1.8em;
    }

    @include for-tablet-landscape-up {
      font-size: 2.4em;
    }
  }

  .contact-button {
    margin-top: calc(2 * var(--padding-large));
    pointer-events: auto;

    :global {
      .aws-btn {
        --button-default-height: 48px;
        --button-default-font-size: 14px;
        --button-default-border-radius: 3px;
        --button-horizontal-padding: 20px;
        --button-raise-level: 4px;
        --button-hover-pressure: 2;
        --transform-speed: 0.185s;
        --button-primary-color: #424242;
        --button-primary-color-dark: #212121;
        --button-primary-color-light: #cacaca;
        --button-primary-color-hover: #424242;
        --button-primary-color-active: #424242;
        --button-primary-border: 2px #cacaca63 solid;
        --button-font-family: 'MontSerrat';

        @include for-tablet-landscape-up {
          --button-default-font-size: 15px;
          --button-horizontal-padding: 30px;
        }
      }
    }
  }
}
