@import 'styles/breakpoints.scss';

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include for-desktop-up {
    flex-direction: row;
  }
}

.nav-header,
.nav-items,
.nav-social {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include for-desktop-up {
    flex-direction: row;
  }
}

.nav-header {
  justify-content: flex-start;
}

.nav-items {
  justify-content: center;
}

.nav-social {
  justify-content: flex-end;
}
