.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-header,
.nav-items,
.nav-social {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.nav-header {
  justify-content: flex-start;
}

.nav-items {
  justify-content: center;
}

.nav-social {
  justify-content: flex-end;
}
